
body{
    background-image: linear-gradient(to bottom, rgb(245, 245, 245), rgb(160, 160, 160));
    height: 125vh;
    font-family: 'Roboto';
}

#borde {
    background-color: none;
    border: solid 2px white;
    width: fit-content;
    height: fit-content;
    z-index: -1;
    margin: auto;
    margin-top: 9vh;
    padding: 10px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 20px;
}

#bigcontainer{
    display: grid;
    background-color: white;
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

#checkoutblock{
    background-color: white;
    height: 420px;
    width: 400px;
    padding: 10px;
    border-radius: 0px 50px 50px 0px;
}

#form {
    margin-top: 100px;
}


#total{
    font-family: 'Sulphur Point';
    font-weight: lighter;
    font-size: 24px;
    padding-left: 30px;
    color: rgb(29, 29, 29);
}

#card{
    background-image: linear-gradient(to top, rgb(255, 139, 126), rgb(250, 156, 94));
    width: 300px;
    height: 180px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 120px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px salmon;
    color: white;
    padding: 10px 20px;
    line-height: 20px;
    font-family: 'Sulphur Point';
    font-size: 18px;

}



#payment{
    background-color: white;
    height: 420;
    width: 400px;
    padding: 10px;
}

.pay {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 50px;
}

.test{
    height: 15px;
    position: absolute;
    bottom: 365px;
    left: 585px;
    display: none;
}

#submit{
    display: block;
    margin: auto;
    background-color: salmon;
    color: white;
    width: 100px;
    padding: 7px;
    border-radius: 10px;
    border-color: rgb(250, 128, 114);
    font-family: 'Roboto';
    font-size: 16px;
    border-style: solid;
    box-shadow: 1px 1px 2px rgb(209, 209, 209);

}

#submit:active{
    background-color: rgb(133, 199, 117);
    border-color: rgb(133, 199, 117);

}
input{
    margin-bottom: 28px;
    border: none;
    border-bottom: rgb(255, 211, 190) 2px solid;
    height: 30px;
}

label{
    margin-left: 20px;
    font-family: 'Sulphur Point';
    font-weight: 600;
    font-size: 18px;
}

#cardnumber,
#holdername{
    width: 320px;
    margin-left: 20px;
}

#cvv{
    width: 68px;
}

#date{
    margin-bottom: 0px;
    width: 100px;
}

p{
    margin: 5px;
}

#chip{
    width: 40px;
    height:30px;
    display: block;
    margin-top: 50px;
    margin-left: 5px;
    margin-bottom: 15px;
}

.empresa{
    width: 60px;
    height:60px;
    display: none;
    position: relative;
    left: 80%;
    bottom: 26.5%;
    right: 12%
}

#mastercard {
    width: 80px;
}

#numer{
    width: 300px;
    word-spacing: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 17px;
}

#venc{
    font-size: 12px;
    color: white;
}

#fecha,
#titular{
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 15px;
}

#fecha,
#venc
{
    display: inline;
}

#valid,
#invalid{
    background-color: whitesmoke;
    width: 550px;
    height: 500px;
    border: 1px solid rgb(114, 96, 143);
    position: absolute;
    left: 30%;
    top: 8%;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    display: none;
    z-index: 1;
}

#invalid .answer{
    margin-top: 10px;
}

#close1,
#close2{
    width: 20px;
    margin: 20px;
    margin-bottom: 0;
}

.img{
    display: block;
    margin: auto;
    width: 400px;
}

.answer{
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    line-height: 25px;
    font-size: 20px;
    font-family: 'Sulphur Point', sans-serif;
    color: rgb(0, 0, 0);
}

#capa{
    width: 100%;
    height: 120vh;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

p.incomplete{
    position: absolute;
    width: 150px;
    height: 20px;
    background-color: #fff;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    margin-top:0;
}

p.incomplete::before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 1.5em;
    border: .75rem solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

#crdincomplete,
#crdwrong{
    bottom: 305px;
    left: 440px;
    display: none;
}

#crdwrong{
    width: 130px;
}

#chdincomplete{
    bottom: 220px;
    left: 440px;
    display: none;
}

#dtincomplete{
    bottom: 158px;
    left: 270px;
    display: none;
}

#cvvincomplete{
    left: 440px;
    bottom: 158px;
    display: none;
}

#cvvincomplete::before,
#dtincomplete::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 120px;
    border: .75rem solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

#back {
    width: 20px;
}

#cart{
    width: 850px;
    height: 510px;
    border-radius: 20px;
    display: none;
}

#change{
    position: absolute;
    width: 246px;
    height: 25px;
    border-radius: 10px;
    bottom: 115px;
    left: 790px;
    background-color: salmon;
    color: white;
    border-color: salmon;
    font-family: 'Roboto';
    font-size: 16px;
    border-style: solid;
    box-shadow: 1px 1px 2px rgb(209, 209, 209);
    display: none;
}

#change:active{
    background-color: rgb(133, 199, 117);
    border-color: rgb(133, 199, 117);
}

#thanks {
    width: 300px;
}